.formInput {
  margin: 10px 0px;
  border-bottom: solid 1px #6a6363;
  caret-color: #6a6363;
  color: rgba(0, 0, 0, 0.5);
}

.formInput::placeholder {
  padding-left: 4px;
}

.formInput:focus {
  outline: none;
}

.content {
  transition: all 0.5s linear;
}

/* .submitButton:hover {
  cursor: pointer;
} */

.submitButton {
  background-color: #6a6363;
  color: white;
  width: 20%;
  min-width: inherit;
  border: solid 2px black;
  border-radius: 5px;
}

.submitButton:hover {
  transition: all 0.5s linear;
  background-color: blue;
}
