.wrapper::-webkit-scrollbar {
  display: none;
}

.wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.bg {
  background: white;
  /* min-width: 600px; */
  border-color: inherit;
  border-radius: inherit;
  font-size: inherit;
}
